/*아이템 전체 레이아웃*/
.member-list-item {
    display: flex;
    flex-direction: row;
    height: 103px;
    border-radius: 12px;
    border: 0.701px solid rgba(148, 163, 184, 0.20);
    background: #111827;
    align-items: center;
    padding: 16.7px;
    gap: 20px;
}

/*프로필사진, 이름, 아이디, 프로스트리머뱃지*/
.member-list-item-profile {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

/*이름*/
.member-list-item-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 120px;
}

.member-list-item-name>h6 {
    color: #E8EAF0;
    font-size: 16px;
    font-weight: 700;
}

/*뱃지*/
.member-list-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    height: 15px;
}

.member-list-probadge,
.member-list-strmbadge {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    padding: 0.3px 4px 0.3px 4px;
    gap: 1px;
    border-radius: 4px;
}

.member-list-probadge {
    background: rgba(56, 93, 237, 0.1);
}

.member-list-strmbadge {
    background: rgba(173, 70, 255, 0.1);
}

.member-list-probadge>p,
.member-list-strmbadge>p {
    color: #E8EAF0;
    font-size: 12px;
    font-weight: 600;
}

/*회원아이디*/
.member-list-item-name>p {
    color: #94A3B8;
    font-size: 12px;
    font-weight: 400;
    margin-top: auto;
}


/*직책,이메일*/

.member-list-item-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.member-list-item-role,
.member-list-item-email {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.member-list-item-role {
    width: 90px;
}

.member-list-item-role>h6,
.member-list-item-email>h6 {
    color: #94A3B8;
    font-size: 14px;
    font-weight: 400;
}

.member-list-item-role>p {
    font-size: 14px;
    font-weight: 600;
}

.member-list-item-email>p {
    color: #E8EAF0;
    font-size: 14px;
    font-weight: 600;
}

/*가입일~점수,차단*/
.member-list-item-footer {
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    margin-left: auto;

}

.member-list-item-date {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.member-list-item-date>h6 {
    color: #94A3B8;
    font-size: 14px;
    font-weight: 400;
}

.member-list-item-date>p {
    color: #E8EAF0;
    font-size: 14px;
    font-weight: 600;
}

/*점수,차단*/
.member-list-item-manage {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

/*점수*/
.member-list-item-score {
    width: 57.385px;
    height: 69.387px;
    padding: 7.994px 0;
    border-radius: 8px;
    border: 0.701px solid rgba(148, 163, 184, 0.20);
    background: #111827;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.member-list-item-score>p {
    text-align: center;
    color: #94A3B8;
    font-size: 12px;
    font-weight: 600;
}

/*블랙리스트 버튼*/
.member-list-black-button:hover {
    cursor: pointer;
}

.member-list-black-button {
    display: flex;
    padding: 6.994px 12.994px 8.98px 11.992px;
    justify-content: center;
    align-items: flex-end;
    gap: 6.99px;
    border-radius: 8px;
    border: none;
}

.member-list-black-button>img {
    margin-bottom: 1px;
}

.member-list-black-button>p {
    /**/
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
}